/*#title-logo{

	font-family: 'Sacramento', cursive;
}*/

body {

	background-image: url("../images/city-park-bench.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#main-logo {

	font-family: 'Sacramento', cursive;
	font-size: 150px;
	text-align: center;
	color: white;

}

#main-panel-header {

	font-size: 40px;

}

.card-title {

	font-family: 'Sacramento', cursive;
	font-size: 500px;

}