#navbar {

	font-family: 'Sacramento', cursive;
	background-image: url("../images/rainbow-gradient.png")

}

body {

	background-image: url("../images/city-park-bench.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#main-logo {

	font-family: 'Sacramento', cursive;
	font-size: 150px;
	text-align: center;
	color: white;

}

#main-panel-header {

	font-size: 40px;
	font-family: 'Pragati Narrow', sans-serif;

}

.card-title {

	font-family: 'Sacramento', cursive;

}

#card-header {

	font-size: 40px;

}

#page-foot {

	background-color: white;

}